 @use '/src/Sass/mixins';
 @import '/src/Sass/variables';

 body {
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0vw;
    font-family: 'Raleway', sans-serif;
    h1 {
        @include mixins.black;
    }
    .titulo {
        @include mixins.h1;
        color: $main;
        text-align: center;
    }
    .link {
        text-decoration: none; /* Elimina el subrayado */
        color: inherit; /* Usa el color heredado */
      }
}

#root {
    min-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
}

.Bienvenida_Div {
    margin: 0 100px 400px 100px;
    .Bienvenida_titulo {
        text-align: center;
    }
}


.page {
    width: 100%;
    justify-content: space-evenly;
    font-size: 1.1rem;
}

.logoNav {
    width: 300px;
}

.btnLogOut{
    background-color: $main;
    border-color: $main;
    font-size: 1rem;
    width: 170px;
    margin-right: 20px;
}

.ContNavbar{
    .navbar-toggler{
        margin-left: 80px;
    }
}

.navBarCarrito{
    display: flex;
    align-items: center;
}

.footer {
    width: 100%;
  text-align: center;
  padding: 0 0 2.5vh 0;
  background-color: $main;
  @include mixins.regular;
  color: white;
  .correo {
      display: flex;
      justify-content: center;
      align-items: center;
      @include mixins.regular;
      font-size: 1.4rem;
      padding: 20px 0 5px 0;
      .correoLabel {
        margin: 0;
      }
  }
  .text-footer {
      font-size: 0.9rem;
      padding-bottom: 10px;
  }
  .text-footer-dos.primero {
      margin-top: 0.5%;
  }
  .text-footer-dos {
      font-size: 0.7rem;
  }
}

.grid-banner {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(5, 1fr);
  .img-grid-banner {
      width: 117%;
      grid-row: 1/6;
  }
  .text-gridbanner-parent {
      align-self: center;
      justify-self: center;
      .text-gridbanner {
          color: $main;
          font-size: 7rem;
          @include mixins.black;
      }
      .text-gridbanner.blue {
          color: $second;
      }
  }
  .parrafogridbanner-parent {
      align-self: center;
      display: flex;
      justify-content: center;
      .parrafogridbanner {
          text-align: center;
          width: 80%;
          @include mixins.regular;
          font-size: 1.5rem;
      }
  }
  .button-parent {
      display: flex;
      justify-content: center;
      .button-reserva {
          font-size: 1.6rem;
          @include mixins.semibold;
          background-color:$main;
          padding: 4%;
          border: $second 0.3vw solid;
          // border-radius: 7%;
          color: $white;
      }
  }

  .booking {
      align-content: baseline;
      justify-content: center;
      .col-12 {
        text-align: center;
      }
      .form-group {
        .form-floating {
            text-align: center;
            .DatePicker {
                padding-bottom: 20px;
                padding-right: 20px;
            }
        }
      }
  }
}

/* INFORMACION DE CABANAS */

.secCabanas {
    background: linear-gradient(180deg, $main, rgb(250,250,250));
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-items: center;
    padding-bottom: 3vh;
    .tit-cab {
        @include mixins.semibold;
        color: $white;
        font-size: 2.5rem;
        padding: 2vh;
    }
    .precio {
        @include mixins.semibold;
        color: $white;
        font-size: 2rem;
        padding-top: 1vh;
    }
    .img-safari {
        .cabanas {
            width: 30vw;
            height: auto;
        }
    }
    .img-ancestral {
        .cabanas {
            width: 30vw;
            height: auto;
        }
    }
    .incluye {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 1/3;
        @include mixins.p;
        .incluye-titulo {
            @include mixins.bold;
            font-size: 2.5rem;
            color: $white;
        }
        .incluye-cierre {
            @include mixins.bold;
        }
        p {
            a {
                text-decoration: none;
                color: $third;
            }
        }
    }
}

/* BANNER FOTOS */

.banner-fotos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 220px 220px;
    padding: 1vw;
    gap: 1vw;
    .div-img-banner-fotos {
        height: 100%;
        width: 100%;
        .img-banner-fotos {
            width: 100%;
            height: 100%;
            border-radius: 15%;
            object-fit: cover;
        }
    }
}

/* LOCATION */

.location {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 40vw 60vw;
    .hlocation {
        @include mixins.black;
        color: $third;
        font-size: 7rem;
        text-align: center;
        grid-column: 1/3;
        padding-top: 20px;
    }
    #dlocation {
        grid-row: 2/4;
        justify-self: center;
        width: 100%;
        height: 100%;
        padding: 1vw;
    }
    .div-location {
        display: flex;
        justify-self: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        align-self: center;
        width: 100%;
        height: 100%;
        font-size: 1rem;
        .dlocation {
            font-size: 4rem;
            @include mixins.black;
            color: $main;
        }
        .horariosLocation {
            flex: 1;
            @include mixins.p;
        }
    }
    .div-location .segundo {
        align-self: flex-start;
        .dlocation.final {
            font-size: 2.5rem;
            @include mixins.black;
            color: $main;
        }
    }
}

// CABANAS 

.tit-cabana-page {
    text-align: center;
    color: $main;
    padding-top: 2vh;
    @include mixins.h1;
}

.subtexto {
    @include mixins.p;
    text-align: center;
    padding-bottom: 2vh;
}

.banner-safaris {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5vh, repeat(2, 1fr);
    justify-items: center;
    background-color: $main;
    padding: 0 0 2vh 0;
    margin-bottom: 3vh;
    .carousel {
        display: none;
    }
    .tit-fotos-safari {
        grid-column: 1/5;
        padding: 2vh 0 0 0;
        h2 {
            color: $white;
            @include mixins.h2;
        }
    }
    .div-fotos-cabanas {
        display: flex;
        flex-direction: column;
        width: 20vw;
        text-align: center;
        img {
            width: 100%;
            height: auto;
            padding-top: 2vh;
        }
        h5 {
            @include mixins.h3;
            color: $white;
            padding-top: 1vh;
        }
        p {
            @include mixins.mini-p;
            text-align: center;
            align-items: center;
        }
    }
}

.banner-ancestral {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 30vh 30vh;
    margin-bottom: 3vh;
    .foto-ancestral-mobile {
        display: none;
    }
    .tit-fotos-ancestral {
        grid-column: 1/5;
        grid-row: 1/2;
        justify-self: center;
        padding-bottom: 2vh;
        h2 {
            color: $main;
            @include mixins.h2;
        }
    }
    .img-ancestral-cabana {
        grid-column: 1/2;
        grid-row: 2/4;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .tit-ancestral-cabana {
        grid-column: 2/3;
        grid-row: 2/3;
        font-weight: 800;
        align-self: end;
        p {
            text-align: center;
            color: $third;
            @include mixins.h3;
        }
    }
    .text-ancestral-cabana {
        grid-column: 2/3;
        grid-row: 3/4;
        p {
            text-align: center;
            @include mixins.p;
        }
    }
}

/* ACTIVIDADES */

.tit-deportes {
    text-align: center;
    font-size: 5rem;
    color: $main;
    padding-top: 3.5vh;
}

.text-deportes {
    font-size: 1.5rem;
    color: $third;
    text-align: center;
}

.sec-deportes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    @include mixins.regular;
    gap: 2vw;
    padding: 2vw;
    div {
        text-align: center;
        img {
            height: 100%;
            object-fit: contain;
            width: 320px;

        }
        h5 {
            color: $main;
            @include mixins.black;
            font-size: 2rem;
            padding-top: 15px;
        }
        .precio {
            font-size: 1.1rem;
        }
        .descripcion {
            font-size: 1.3;
        }
    }
}

/* QUIENES SOMOS */

.img-somos {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.banner-somos {
    display: flex;
    flex-direction: column;
    .tit-somos {
        color: $main;
        position: relative;
        @include mixins.h1;
    }
    .psomos {
        width: 80vw;
        align-self: center;
        text-align: center;
        @include mixins.p;
    }
}

.nuestras-somos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    padding: 2vh 0 4vh 0;
    .img-somos2 {
        align-self: flex-end;
        grid-row: 1/4;
        border: 2em solid;
        border-color: $main;
        margin: 0 0 0 2vw;
        .img-somoss2 {
            width: 100%;
            height: 80vh;
        }
    }
    .div-tit-banner-cabanas {
        align-self: self-end;
        .tit-banner-cabanas {
            @include mixins.h2;
            color: $third;
        }
    }
    .div-parrafo-banner {
        height: auto;
        display: flex;
        flex-direction: column;
        .parrafo-banner {
            width: 40vw;
            text-align: center;
            @include mixins.mini-p;
        }
    }
    .boton-somos {
        border: 0.1em solid;
        display: inline-block;
        text-align: center;
        font-size: 1rem;
        width: auto;
    }
    a {
        text-decoration: none;
        color: $black;
        @include mixins.bold;
    }
}

/* CONTACTO */

.titulo-form {
    text-align: center;
    @include mixins.h1;
    color: $main;
}

.grid-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    @include mixins.p;
    a {
        text-decoration: none;
        color: $black;
    }
}

// DISPONIBILIDAD 

.cardCabanas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    padding-bottom: 60px;
    .card-img {
        object-fit: cover;
        height: 600px;
        grid-row: 1/6;
        padding: 40px 0 0 60px; 
    }
    div {
        height: auto;
    }
    .parent-titulo-reserva {
        grid-row: 2/3;
        h2 {
            @include mixins.h2;
            font-size: 4rem;
            color: $second;
            text-align: center;
        }
    }
    .detalles {
        height: auto;
        text-align: center;
        @include mixins.mini-p;
        grid-row: 3/4;
        padding-top: 20px;
    }
    .seleccionCabanas {
        grid-row: 4/5;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        .btnMas {
            justify-self: right;
            background-color: $third;
            border-color: $third;
            color: white;
            height: 30px;
            align-self: center;
        }
        .btnMenos {
            justify-self: left;
            background-color: $third;
            border-color: $third;
            color: white;
            height: 30px;
            align-self: center;
        }
        .NumeroCabanas {
            justify-self: center;
            align-self: center;
        }
        .disponibilidad {
            justify-self: center;
            padding-top: 8px;
            grid-column: 1/4;
        }
        .cantidadCabanas {
            justify-self: start;
            padding-left: 20px;
        }
        .botonReservar {
            grid-column: 1/4;
            text-align: center;
            padding-top: 20px;
            .btn {
            background-color: $third;
            border-color: $third;
            }
        }
    }
}

.cardCabanas.ancestral {
    padding-bottom: 50px;
}

// DATOS RESERVA

.divloader {
    display: flex;
    justify-content: center;
    gap: 20px;
    .textloader {
        align-items: center;
        margin: 0;
        align-self: center;
    }
    .loader {
        width: 50px;
        aspect-ratio: 1;
        display: grid;
        border: 4px solid #0000;
        border-radius: 50%;
        border-color: $third #0000;
        animation: l16 1s infinite linear;
      }
      .loader::before,
      .loader::after {    
        content: "";
        grid-area: 1/1;
        margin: 2px;
        border: inherit;
        border-radius: 50%;
      }
      .loader::before {
        border-color: $main;
        animation: inherit; 
        animation-duration: .5s;
        animation-direction: reverse;
      }
      .loader::after {
        margin: 8px;
      }
      @keyframes l16 { 
        100%{transform: rotate(1turn)}
      }
}

.formularioReserva {
    h1 {
        @include mixins.h1;
        text-align: center;
        color: $main;
        padding: 20px 0;
    }
    .formReserva {
        padding: 0 40px 20px 40px;
    }
    #informacionPrevia {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        padding: 20px 0 0 0;
        .labeldatoInterno {
            @include mixins.h4;
            color: $second;
            justify-self: end;
            padding-right: 20px;
            font-size: 1.3rem;
        }
        .datoInterno {
            display: inline;
            padding-top: 5px;
        }
        .comprobante {
            display: flex;
            grid-column: 1/3;
            justify-content: center;
        }
    }
    .botonFinal {
        grid-column: 1/3;
        text-align: center;
        padding-top: 20px;
    }
}

// CONFIRMACION

.confirmacion {
    .tituloConfirmacion {
        @include mixins.h1;
        text-align: center;
        color: $main;
        padding-top: 40px;
    }
    .codigoDeReserva{
        text-align: center;
        color: $main;
        @include mixins.h2;
    }
    .textoConfirmacion {
        @include mixins.p;
        text-align: center;
    }
    p {
        text-align: center;
        .menuConfirmacion {
            font-style: unset;
            @include mixins.p;
            color: $third;
            text-align: center;
        }
    }
    .imagenConfirmacion {
        text-align: center;
        width: 30%;
        padding-bottom: 40px;
        display: block;
        margin: auto;
    }
}

// // // RESERVAS SECTION

// // RESERVA DETAIL

.codeReserva {
    text-align: center;
    color: $second;
    font-size: 3rem;
    @include mixins.black;
}
.tituloReservas {
    padding-top: 40px;
    text-align: center;
    color: $main;
    font-size: 4rem;
}
.tableReserva {
    padding: 0px 30px;
}

.imgOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro con opacidad */
    display: flex;
    justify-content: center;
    align-items: center;
    .imgContainer {
        position: relative;
        max-width: 80%;
        height: 80%;
        .imgDetail {
            height: 100%;
        }
    }
    .closerOverlay {
        position: absolute;
        top: 10px;
        right: 10px;
        color: white;
        width: 20px;
        height: 25px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        font-size: 17px;
        cursor: pointer;
    }
}
    // NUEVA RESERVA DETALLADA

.tableDetail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 45px 70px;
    .imgReservaDetalladaDiv {
        justify-self: center;
        padding-right: 30px;
        .imgReservaDetallada {
            max-width: 100%;
            min-width: 500px;
        }
    }
    .formReservaDetail {
        max-width: 100vw;
        .subReservaDetallada {
            color: $third;
            font-size: 2rem;
        }
        .botonFinal {
            text-align: center;
            padding-top: 30px;
            .btn {
                background-color: $third;
                border-color: $third;
            }
        }
    }
}

.comidaDetail{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.imgComprobante {
    margin-left: 70px;
}
.DatePickerLabel {
    margin-right: 100px;
}

.buttonComida {
    margin-top: 20px;
    background-color: $third;
    border-color: $third;
}
// // Mi reserva

.tituloMiReserva {
    color: $third;
    margin: 30px 0 50px 200px;
}
.formMireserva {
    padding: 0 200px;
    min-height: 58vh;
    .btn {
        margin-top: 30px;
        background-color: $third;
        border-color: $third;
    }
}


// // RESERVAS

.reservasSection {
    gap: 40px 40px;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

// ITEM PRODUCTO

  .ReservaItemImg {
    height: 200px;
    object-fit: cover;
  }
  
    .pickProductos {
        display: flex;
        justify-content:space-evenly;
        align-items: baseline;
      }
      
      .titlePlato {
        text-align: center;
        font-size: 1.2rem;
      }
      .descripcionPlato {
        text-align: center;
        @include mixins.mini-p;
        font-size: 1rem;
      }
      .precioPlato {
        text-align: center;
        font-size: 1.2rem;
      }
    
      .negrilla {
        @include mixins.bold;
      }
      
      .btn.menu {
        background-color: $second;
        border-color: $main;
        color: white;
        font-size: 0.8rem;
        }


  // ITEM LIST

  .productList {
    padding: 20px 80px;
    .gridProductList {
        gap: 40px;
        justify-content: center;
        padding-top: 30px
    }
    .subcategoriaTitle{
        font-size: 1.5rem;
        margin-left: 70px;
        color: $third;
    }
  }

  // MENU VIEW

  // // BARRA SELECTORA
  .containerBarra {
    margin: 0 100px;
    max-width: 85%;
    .row {
        .col-md-3 {
            padding: 20px 0;
            text-align: center;
            .imgCatMenu {
                width: 90px;
              }
              .titleCatMenu {
                font-size: 1.2rem;
                color: $main;
                margin: 10px 0;
              }
          }
    }
  }




  .titleMenu {
    @include mixins.h1;
    text-align: center;
    color: $third;
  }
  .refWarn {
    text-align: center
  }

  .titleCategoriaPlatos {
    @include mixins.h2;
    padding-left: 150px;
    color: $second;
    font-size: 2rem;
  }

  // LOGIN

  .formLoginDiv {
    display: flex;
    justify-content: center;
    width: 300px;
    border: solid 7px $third;
    border-radius: 5%;
    padding: 15px;
    margin: 30px 0;
  }

  // CARRITO 
    .carrito{
        display: flex;
        position: fixed;
        top: 0;
        .opacity{
            background-color: black;
            width: 70vw;
            opacity: 50%;
        }
        .CarritoGrid{
            background-color: white;
            width: 30vw;
            min-height: 100vh;
            max-height: 100vh;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: 0.1fr 1fr 0.5fr;
            .topCarrito{
                display: flex;
                grid-row: 1/2;
                grid-column: 1/3;
                border-bottom: solid 1.3px $second;
                    .flechaCarrito{
                        align-self: center;
                        margin: 0 5px;
                        color: $third;
                    }
                    .titleCarrito{
                        font-size: 1.3rem;
                        align-self: center;
                        margin: 0;
                        color: $main;
                    }
            }
            .productosCarrito{
                grid-row: 2/3;
                grid-column: 1/3;
                overflow-y: scroll;
                .productoCarrito{
                    padding: 10px 20px;
                    display: flex;
                    .removeComida{
                        margin: 0;
                        align-self: center;
                        padding: 0 15px 0 0;
                        color: $third;
                        font-weight: 700;
                        font-size: 1.3rem;
                        border: none;
                        background-color: transparent;
                        
                    }
                }
            }
            .detallesCarrito{
                grid-row: 3/4;
                grid-column: 1/3;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(5,auto);
                margin: 25px 25px;
                p{
                    font-size: 1rem;
                    justify-self: end;
                    color: $main;
                    margin: 0;
                }
                .subtitleCarrito{
                    font-size: 1rem;
                    font-weight: 600;
                    justify-self: normal;
                    margin: 0;
                }
                .btnCarrito{
                    justify-self: center;
                    grid-column: 1/3;
                    background-color: $third;
                    border-color: $third;
                }
                .separador{
                    grid-column: 1/3;
                    border-top: 1px solid $second;
                    width: 100%;
                    margin: 10px 0;
                }
            }
        }
}


.MuiBox-root {
    width: 100%;
    background-color: $main;
    color: white;
}
.pProductoCarrito{
    font-size: 0.9rem;
    margin: 0;
}
.pProductoCarrito.tit{
    font-size: 0.9rem;
    font-weight: 700;
}
  /* MEDIA QUERIES */

/* CELULARES GRANDES */

@media only screen and (max-width: 576px) {


    // GENERAL //
    
    .logoNav {
        width: 250px;
    }
    
    // INDEX //
    // INDEX: BANNER PRINCIPAL
    
        .grid-banner {
            grid-template-rows: repeat(6, auto);
            grid-template-columns: 30vw 70vw;
            .booking {
                grid-column: 1/3;
                text-align: center;
                padding: 20px 0;
                width: 100%;
                justify-self: end;
                .form-group {
                    width: 100%;
                    .form-floating {
                        width: 100%;
                        .DatePicker {
                            width: 180px;
                            padding-bottom: 20px;
                            margin-left: 15px;
                        }
                    }
                }
            }
            .img-grid-banner {
                grid-row: 1/6;
                grid-column: 1/2;
            }
            .text-gridbanner-parent {
                .text-gridbanner {
                    font-size: 2.9rem;
                }
            }
            .text-gridbanner-parent .main {
                align-self: self-end;
                grid-row: 2/3;
            }
            .text-gridbanner-parent .blue {
                grid-row: 3/4;
            }
            .text-gridbanner-parent .blue .segundo {
                grid-row: 4/5;
            }
            .parrafogridbanner-parent {
                .parrafogridbanner {
                    @include mixins.parrafo-576;
                    margin-top: 1rem;
                }
            }
            .button-parent {
                grid-row: 7/8;
                grid-column: 1/3;
                margin-bottom: 1rem;
                .button-reserva {
                    font-size: 1.5rem;
                }
            }
        }
    
    // INDEX: SEC CABAÑAS
    
        .secCabanas {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, auto);
            .tit-ancestral {
                order: -3;
                .tit-cab {
                    @include mixins.h2-576;
                }
            }
            .tit-safari {
                order: 1;
                .tit-cab {
                    @include mixins.h2-576;
                }
            }
            .img-safari {
                order: 2;
                .cabanas {
                    width: 60vw;
                }
            }
            .img-ancestral {
                order: -2;
                .cabanas {
                    width: 60vw;
                }
            }
            .pr-ancestral {
                order: -1;
                .precio {
                    @include mixins.h3-576;
                }
            }
            .pr-safari {
                order: 3;
                .precio {
                    @include mixins.h3-576;
                }
            }
            .incluye {
                grid-column: unset;
                order: 6;
                @include mixins.parrafo-576;
                padding: 0 5%;
                text-align: center;
                .incluye-titulo {
                    font-size: 3rem;
                    color: $third;
                }
            }
        }
    
    // INDEX: BANNER FOTOS
    
        .banner-fotos {
            grid-template-rows: repeat(4, 30vh);
            grid-template-columns: repeat(2, 1fr);
        }
    
    // INDEX: LOCATION
    
        .location {
            grid-template-columns: 100vw;
            grid-template-rows: auto auto auto auto;
            .hlocation {
                grid-column: unset;
                font-size: 3.3rem;
            }
            #dlocation {
                grid-row: unset;
                height: 40vh;
                .ubicacionMaps {
                    width: 350px;
                    margin: 0 0 30px 15px;
                    padding-bottom: 20px;
                }
            }
            .div-location {
                .dlocation {
                    font-size: 2.5rem;
                }
                .horariosLocation {
                    @include mixins.parrafo-576;
                }
            }
        }
    
        // FOOTER 
    
        .footer {
            .correo {
                @include mixins.parrafo-576;
            }
            .text-footer {
                font-size: 0.7rem;
                padding: 0 2vw;
            }
            .text-footer-dos {
                font-size: 0.5rem;
            }
        }
        
        // ACTIVIDADES PAGE //
    
        // SEC ACTIVIDADES 
    
        .tit-deportes {
            @include mixins.h1-576;
        }
    
        .text-deportes {
            font-size: 1.3rem;
            margin-bottom: -1px;
        }
    
        .sec-deportes {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
            align-content: center;
            text-align: center;
            padding-top: 25px;
            .img-deporte {
                width: 70vw;
            }
            .iframe-cascada {
                grid-column: unset;
                display: none;
            }
            .carrusel {
                grid-column: unset;
                display: none;
            }
            div {
                .pdeportes {
                    @include mixins.h2-576;
                }
                .pdeportes.precio {
                    @include mixins.p;
                }
            }
        }
    
        // CABAÑAS PAGE //
    
        .tit-cabana-page {
            padding-top: 2.5vh;
            @include mixins.h1-576;
        }
    
        .subtexto {
            @include mixins.parrafo-576;
            padding: 0 20px;
        }
    
        .banner-safaris {
            .listBanner {
                display: none;
            }
            .carousel {
                display: contents;
            }
        }

        .banner-safaris-mobile {
            display: contents;
            padding-bottom: 80px;
            .tit-fotos-safari {
                h2 {
                    color: $main;
                    @include mixins.h2-576;
                    text-align: center;
                }
            }
            div {
                div {
                    div {
                        h5 {
                            color: $main;
                            @include mixins.h2-576;
                            background-color: $white;
                        }
                        p {
                            background-color: $third;
                            color: $black;
                        }
                    }
                }
            }
        }
    
        .banner-ancestral {
            grid-template-columns: 100vw;
            grid-template-rows: repeat(2, auto);
            .tit-fotos-ancestral {
                padding-top: 30px;
                padding-bottom: 0;
                grid-row: unset;
                grid-column: unset;
                h2 {
                    @include mixins.h2-576;
                }
            }
            .foto-ancestral-mobile {
                display: contents;
                div {
                    div {
                        div {
                            h5 {
                                color: $main;
                                @include mixins.h2-576;
                                background-color: $white;
                            }
                            p {
                                background-color: $third;
                                color: $black;
                            }
                        }
                    }
                }
            }
            .img-ancestral-cabana {
                grid-row: unset;
                grid-column: unset;
                display: none;
            }
            .tit-ancestral-cabana {
                grid-column: unset;
                grid-row: unset;
                display: none;
            }
            .text-ancestral-cabana {
                grid-column: unset;
                grid-row: unset;
                display: none;
            }
        }
    
        // QUIENES SOMOS PAGE //
    
        .banner-somos {
            .tit-somos {
                @include mixins.h1-576;
            }
            .psomos {
                @include mixins.parrafo-576;
            }
        }
    
        .nuestras-somos {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
            justify-items: center;
            .img-somos2 {
                .img-somoss2 {
                    height: auto;
                }
            }
            .div-parrafo-banner {
                .parrafo-banner {
                    @include mixins.parrafo-576;
                    width: 100%;
                }
                .boton-somos {
                    @include mixins.black;
                    text-align: center;
                    font-size: 1rem;
                    width: 100%;
                }
            }
        }

        // RESERVAS VIEW
        
        .titulo.ReservasView{
            font-size: 4rem;
        }
    
        // MENU

        .containerBarra{
            margin: 0;
            padding: 0 30px;
            width: 100%;
            max-width: 100%;
        }
        .colBarra{
            width: 25%;
        }
        .titleMenu{
            font-size: 4rem;
        }
        .imgCatMenu{
            width: 60px;
        }

        .productList{
            padding: 0;
            .subcategoriaTitle{
                margin-left: 20px;
            }
            .gridProductList{
                display: grid;
                grid-template-columns: repeat(2,50vw);
                gap: 0;
                .colProductList {
                    width: 100%;
                    margin: 0;
                    .card{
                        margin: 0 0 15px 0;
                    }
                }
            }
            .gridProductList.row{
                margin: 0;
            }
        }

        .titlePlato{
            font-size: 1rem;
        }
        .descripcionPlato{
            font-size: 0.9rem;
        }
        .precioPlato{
            font-size: 1.2rem;
        }

        .titleCategoriaPlatos{
            padding-left: 20px;
        }
    
        section {
            .titulo-menu {
                @include mixins.h1-576;
                margin: 0;
            }
            .menu {
                height: auto;
                width: 100%;
                .carousel {
                    height: auto;
                    width: 100%;
                    .carousel-inner {
                        .carousel-item {
                            right: unset;
                            #img-menu {
                                height: auto;
                                width: 100%;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }
        }
    
        .boton-menu {
            width: 50%;
            margin-left: 25%;
            a {
                @include mixins.h2-576;
            }
        }
                
        // CARRITO

        .carrito{
            .opacity{
                display: none;
            }
            .CarritoGrid{
                grid-template-columns: 1fr;
                width: 100vw;
            }
        }


        // CONFIRMACION 

        .confirmacion {
            .tituloConfirmacion {
                @include mixins.h1-576;
                padding-top: 0;
            }
            .codigoDeReserva {
                @include mixins.h3-576;
            }
            .textoConfirmacion {
                @include mixins.parrafo-576;
            }
            .imagenConfirmacion {
                height: 350px;
                width: auto;
            }
        } 

        // NUEVA RESERVA DETALLADA
        .tableDetail {
            padding: 20px 20px;
            grid-template-columns: 1fr;
            .imgReservaDetalladaDiv {
                padding-right: 0;
                .imgReservaDetallada {
                    max-width: 100%;
                    min-width: 300px;
                }
            }
            .formReservaDetail{
                .row{
                    margin: 0;
                }
                .subReservaDetallada{
                    padding-top: 15px;
                }
            }
            .table-dark {
                --bs-table-bg: #228fa2;
            }
        }
        .tituloReservas {
            @include mixins.h1-576;
            .codeReserva {
                @include mixins.h2-576;
            }
        }
    }
    
  /*CELULARES STANDARS */
@media only screen and (max-width: 429px) {

    // GENERAL //

.newnav {
    .img-nav {
        height: auto;
        padding: 0 0 0 0;
        width: 38vw;
    }
    .navbar-collapse {
        @include mixins.parrafo-429;
    }
}

// INDEX //
// INDEX: BANNER PRINCIPAL

    .grid-banner {
        grid-template-rows: repeat(6, auto);
        grid-template-columns: 30vw 70vw;
        .img-grid-banner {
            grid-row: 1/7;
            grid-column: 1/2;
        }
        .text-gridbanner-parent {
            .text-gridbanner {
                @include mixins.h1-429;
                margin: 0;
            }
        }
        .text-gridbanner-parent .main {
            align-self: self-end;
            grid-row: 2/3;
        }
        .text-gridbanner-parent .blue {
            grid-row: 3/4;
        }
        .text-gridbanner-parent .blue .segundo {
            grid-row: 4/5;
        }
        .parrafogridbanner-parent {
            .parrafogridbanner {
                @include mixins.parrafo-429;
                margin-top: 1rem;
            }
        }
        .button-parent {
            grid-row: 7/8;
            grid-column: 1/3;
            margin-bottom: 1rem;
            .button-reserva {
                @include mixins.parrafo-429;
            }
        }
    }

// INDEX: SEC CABAÑAS

    .secCabanas {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        .tit-ancestral {
            order: -3;
            .tit-cab {
                @include mixins.h2-429;
            }
        }
        .tit-safari {
            order: 1;
            .tit-cab {
                @include mixins.h2-429;
            }
        }
        .img-safari {
            order: -2;
            .cabanas {
                width: 60vw;
            }
        }
        .img-ancestral {
            order: 2;
            .cabanas {
                width: 60vw;
            }
        }
        .pr-ancestral {
            order: -1;
            .precio {
                @include mixins.h3-429;
            }
        }
        .pr-safari {
            order: 3;
            .precio {
                @include mixins.h3-429;
            }
        }
        .incluye {
            grid-column: unset;
            order: 6;
            @include mixins.parrafo-429;
            padding: 0 5%;
            text-align: center;
            .incluye-titulo {
                @include mixins.h2-429;
                color: $third;
            }
        }
    }

// INDEX: BANNER FOTOS

    .banner-fotos {
        grid-template-rows: repeat(4, 20vh);
        grid-template-columns: repeat(2, 1fr);
    }

// INDEX: LOCATION

    .location {
        grid-template-columns: 100vw;
        grid-template-rows: auto auto auto auto;
        .hlocation {
            grid-column: unset;
            @include mixins.h1-429;
        }
        #dlocation {
            grid-row: unset;
            height: 40vh;
        }
        .div-location {
            .dlocation {
                @include mixins.h2-429;
            }
            .horariosLocation {
                @include mixins.parrafo-429;
            }
        }
    }

    // FOOTER 

    .footer {
        .correo {
            @include mixins.parrafo-429;
        }
        .text-footer {
            @include mixins.mini-parrafo-429;
            padding: 0 2vw;
        }
        .text-footer-dos {
            font-size: 0.4rem;
        }
    }
    
    // ACTIVIDADES PAGE //

    // SEC ACTIVIDADES 

    .tit-deportes {
        @include mixins.h1-429;
    }

    .text-deportes {
        @include mixins.parrafo-429;
        margin-bottom: -1px;
    }

    .sec-deportes {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        align-content: center;
        text-align: center;
        padding-top: 25px;
        .img-deporte {
            width: 70vw;
        }
        .iframe-cascada {
            grid-column: unset;
            display: none;
        }
        .carrusel {
            grid-column: unset;
            display: none;
        }
        div {
            .pdeportes {
                @include mixins.h2-429;
            }
            .pdeportes.precio {
                @include mixins.p;
            }
        }
    }

    // CABAÑAS PAGE //

    .tit-cabana-page {
        padding-top: 2.5vh;
        @include mixins.h1-429;
    }

    .subtexto {
        @include mixins.parrafo-429;
        padding: 0 20px;
    }

    .banner-safaris {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        .div-fotos-cabanas {
            display: none;
        }
        .carouselBanner {
            display:block;
            .Carousel {
                width: 100px;
            }
        }
    }

    .carousel-inner {
        overflow: unset;
        width: 100px;
    }

    .banner-safaris-mobile {
        display: contents;
        div {
            padding: 5px;
        }
        .tit-fotos-safari {
            h2 {
                color: $main;
                @include mixins.h2-429;
                text-align: center;
            }
        }
        div {
            div {
                div {
                    h5 {
                        color: $main;
                        @include mixins.h2-429;
                        background-color: $white;
                    }
                    p {
                        background-color: $third;
                        color: $black;
                    }
                }
            }
        }
    }

    .banner-ancestral {
        grid-template-columns: 100vw;
        grid-template-rows: repeat(2, auto);
        .tit-fotos-ancestral {
            padding-top: 30px;
            padding-bottom: 0;
            grid-row: unset;
            grid-column: unset;
            h2 {
                @include mixins.h2-429;
            }
        }
        .foto-ancestral-mobile {
            display: contents;
            div {
                padding: 5px;
                div {
                    div {
                        h5 {
                            color: $main;
                            @include mixins.h2-429;
                            background-color: $white;
                        }
                        p {
                            background-color: $third;
                            color: $black;
                        }
                    }
                }
            }
        }
        .img-ancestral-cabana {
            grid-row: unset;
            grid-column: unset;
            display: none;
        }
        .tit-ancestral-cabana {
            grid-column: unset;
            grid-row: unset;
            display: none;
        }
        .text-ancestral-cabana {
            grid-column: unset;
            grid-row: unset;
            display: none;
        }
    }

    // QUIENES SOMOS PAGE //

    .img-somos {
        height: 50vh;
    }

    .banner-somos {
        .tit-somos {
            @include mixins.h1-429;
            padding: 20px 10px 0 10px;
        }
        .psomos {
            @include mixins.parrafo-429;
        }
    }

    .nuestras-somos {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        justify-items: center;
        .img-somos2 {
            margin: 0 17px;
            .img-somoss2 {
                height: auto;
            }
        }
        .div-tit-banner-cabanas{
            text-align: center;
            .tit-banner-cabanas {
                @include mixins.h2-429;
                margin: 10px 0;
            }
        }
        .div-parrafo-banner {
            align-items: center;
            .parrafo-banner {
                @include mixins.parrafo-429;
                width: 100%;
                padding: 0 10px;
            }
            .boton-somos {
                @include mixins.black;
                text-align: center;
                font-size: 1rem;
                width: 50%;
            }
        }
    }

    // CONTACTO

    .titulo-form {
        @include mixins.h1-429;
    }

    .grid-form {
        @include mixins.parrafo-429;
    }

    .contactoEncuentranos {
        h2 {
            @include mixins.h2-429;
        }
    }

    // DISPONIBILIDAD PAGE 429

    .cardCabanas {
        padding-top: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, auto);
        .card-img {
            width: 100%;
            height: auto;
            object-fit: cover;
            grid-row: 2/3;
            padding: 0 40px;
        }
        div {
            height: auto;
        }
        .parent-titulo-reserva {
            grid-row: 1/2;
            h2 {
                @include mixins.h2-429;
                font-size: 3.3rem;
                color: $second;
                text-align: center;
            }
        }
    }

    // DATOS DE RESERVA 429

    .formularioReserva {
        h1 {
            @include mixins.h1-429;
            text-align: center;
            color: $main;
            padding: 20px 0;
        }
        #informacionPrevia {
            .labeldatoInterno {
                @include mixins.h4-429;
                color: $second;
                justify-self: end;
                padding-right: 20px;
            }
            .datoInterno {
                font-size: 1rem;
            }
        }
    } 

    // RESERVAS 429

    body {
        .titulo{
            @include mixins.h1-429;
        }
    }
}

